


.city-form {
	
	background-image:url("../images/6240424027_b5fdf400aa_b.jpg");
  width: 100%;
	
	.btn1 {
		background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%);
		height: 40px;
		width: 200px;
		border-radius: 5px;
		color: white;
		margin-left: 350px;
		margin-top: 80px;
    border: 1px solid grey;
		
	}

	.btn2 {
		background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%);
		height: 40px;
		width: 200px;
		border-radius: 5px;
		color: white;
		margin-left: 50px;
		margin-top: 80px;
		border: 10px;
    border: 1px solid grey;
	}

	

	.right-inner-addon {
       position: relative;
       width: 450px;
       height: 100px;
       margin-top: 25px;
       margin-left: 350px;

    }
    .right-inner-addon input {
       padding-right: 30px;  
       font-size: 18px;
       border: 3px solid #d4d4d4;
    }
    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        padding-top: 29px;
        padding-right: 20px;
        pointer-events: none;
        color: #a2aba9;
    }

    .right-inner-addon1 {
       position: relative;
       width: 450px;
       height: 100px;
       margin-top: -25px;
       margin-left: 350px;
       border: 7px;
    }
    .right-inner-addon1 input {
       padding-right: 30px;  
       font-size: 18px;
       border: 3px solid #d4d4d4;
    }
    .right-inner-addon1 i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        padding-top: 29px;
        padding-right: 20px;
        pointer-events: none;
        color: #a2aba9;
    }

    .line {
        height: 59px;
        width: 2px;
        background-color: #d4d4d4;
        margin-left: 743px;
        margin-top: -89px;
        position: absolute;
    }

    .line1 {
        height: 59px;
        width: 2px;
        background-color: #d4d4d4;
        margin-left: 743px;
        margin-top: -164px;
        position: absolute;
    }

    #remember {
        color: white;
        margin-left: 350px;
        margin-top: 15px;
    }

    h4 {
        padding-left: 270px;
        margin-top: -18px;
    }

    .btn3 {
        background-color: #274e77;
        height: 60px;
        width: 450px;
        border-radius: 5px;
        color: white;
        margin-left: 350px;
        margin-top: 23px;
        border: 10px;
        font-size: 30px;
        font-weight: bold;
        border: 3px solid #3f658a;
        
    }

    #last {
        margin-left: 480px;
    }

    a  {
      color: #274e77;
    }

    #slider {
        margin-top: 30px;
        margin-left :515px; 
    }

    input:focus {
        border: solid 3px #0a65c4;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }




}