<div class="black-form">
	
	<div class="form1">
		<h2>Login</h2>
		<h3>or</h3>
		<div id="black-link1">
		<a href=""> Register now</a>
		</div>

		<div class="left-inner-addon ">
    <i class="icon-user icon-large"></i>
    <input type="text" class="form-control" placeholder="Username" />
</div>
<div class="left-inner-addon2 ">
    <i class="icon-unlock icon-large"></i>
    <input type="text" class="form-control" placeholder="Password" />
</div>

  <div id="remember">
	<div class="form-inline">
	<input type="checkbox" /> <h4>Remember password</h4>
	
	<button type="submit" class="btn1">Sign In</button>
	</div>
	</div>

	<div id="last-line">
	  <h4></h4>
	  </div>

	  <div id="last-line2">
	  <h4></h4>
	  </div>

	</div>
</div>