<div class="blue-form">

  <div class="forma1">
	<h4></h4>
	<div id="person">
	  <img src="../images/administrator.png" alt="Demo Team Meme">
	</div>
	<h3>Already a member?</h3>
	<h5>Sign in to your account</h5>
	<div id="email">
	<input type="text" placeholder="Email Address" />	
	</div>
	<div id="pass">
	<input type="text" placeholder="Password" />	
	</div>
	<div id="remember">
	<form class="form-inline">
	<input type="checkbox" /> Remember me
	
	<button type="submit" class="btn1">Sign In</button>
	</form>
	</div>
	<button type="submit" class="btn2">Connect With Facebook</button>
  </div>




</div>