<div class="city-form">
	
<button type="submit" class="btn1"><i class="icon-facebook icon-large"></i>    Connect With Facebook</button>
<button type="submit" class="btn2"><i class="icon-twitter icon-large"></i>    Connect With Twitter</button>

  <div id="slider">
     <input type="range" min="0" max="10" step="5">
     </div>



	<div class="right-inner-addon">
    <i class="icon-user icon-large"></i>
    <input type="text" class="form-control" placeholder="username" />
</div>

    
	<div class="right-inner-addon1">
    <i class="icon-lock icon-large"></i>
    <input type="text" class="form-control" placeholder="password" />
</div>

<div class="line">
	<h4></h4>
</div>

<div class="line1">
	<h4></h4>
</div>

   <div id="remember">
	<input type="checkbox" /> Remember me
	<h4>Forgot your password?</h4>
	 </div>

	 <button type="submit" class="btn3">Login</button>

	 <div id="last">
	   <h5>Not a member? <a href=""> Sign up now!</a></h5>



</div>