<div class="free-form">
	
   <div class="forma1">
   	  <h2>Let's get started.</h2>
   	  <h5>This will be an amazing experience</h5>

   	  <div class="left-inner-addon ">
    <i class="icon-envelope icon-large"></i>
    <input type="text" class="form-control" placeholder="Email" />

    <div class="left-inner-addon2 ">
    <i class="icon-lock icon-large"></i>
    <input type="text" class="form-control" placeholder="Password" />

    <button type="submit" class="btn3">Login</button>

</div>
   

   <div id="last-line">
   <h4></h4>
   </div>

   <div id="last-block">
       <h4></h4>
       </div>
   </div>

   <div id="last-circle">
       <h4></h4>
       </div>

    
</div>




</div>